<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.NotiMapper">
<insert id="insertNotiInfo" parameterType="NotiDTO">
INSERT INTO noti(
	title, content, regDate, viewcount, updDate
	)VALUES(
		#{title}, #{content}, NOW(), 3, NOW())
</insert>
<select id="getNotiList" resultType="NotiDTO">
SELECT
	title AS title,
	content AS content,
	regDate AS regDate,
	notiNo AS seq
FROM
	noti
</select>
<select id="getNotiDetail" parameterType="String" resultType="NotiDTO">
SELECT
	title AS title,
	content AS content,
	regDate AS regDate,
	notiNo AS seq
FROM
	noti
WHERE
	notiNo = #{seq}
</select>
<update id="updateNoti" parameterType="NotiDTO">
UPDATE
	noti
SET
	title = #{title},
	content = #{content}
WHERE
	notiNo = #{seq}
</update>
<delete id="deleteNoti" parameterType="String">
DELETE
	FROM noti
WHERE
	notiNo = #{seq}
</delete>
</mapper>