<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.UserMapper">
	<select id="idCheck" resultType="UserDTO">
	SELECT DISTINCT(id) FROM userinfo WHERE id = #{id};
	</select>
	<select id="emailCheck" resultType="UserDTO">
	SELECT DISTINCT(email) FROM userinfo WHERE email = #{email};
	</select>
	<select id="getLogin" resultType="UserDTO">
	SELECT userNO, id FROM userinfo WHERE id = #{id} AND passwd = #{passwd}
	</select>
	<select id="findid" resultType="UserDTO">
	SELECT email, id FROM userinfo WHERE email = #{email}
	</select>
	<select id="findPw" resultType="UserDTO">
	SELECT email, id FROM userinfo WHERE id = #{id}
	</select>
	<insert id="userRegProc" parameterType="UserDTO">
	INSERT INTO
	userinfo
	(
		id,
		email,
		passwd,
		interest,
		regDate,
		regNo,
		updDate,
		updNo,
		sex,
		age
	)
	VALUES
	(
		#{id},
		#{email},
		#{passwd},
		#{interest},
		NOW(),
		1000,
		NOW(),
		1000,
		#{sex},
		#{age}
		
	)
	</insert>

</mapper>